#nav {
    display: flex;
    background: linear-gradient(to top, rgba(194, 13, 0, 0.867), rgb(255, 123, 0));
    grid-area: nav;
    flex-direction: column;
    align-items: center;

    img#logo {
        width: 40vw;
        height: 10vh;
        border-radius: 5rem;
    }

    input.toggle[type='checkbox'] {
        display: none;
        cursor: pointer;
        &:checked {
            ~.nav-menu {
                transition: all 0.5s;
                max-height: 3vh;
                z-index: 1;
            }
            ~.nav-menu > .menu-option{
                background: rgba(194, 13, 0, 0.867);
            }
        }
    }
}
.nav-menu {
    max-height: 0px;
    text-align: center;
    transition: max-height .15s ease;
    text-transform: uppercase;
    z-index: -1;
}

.menu-option {
    margin: auto;
    height: 4vh;
    background: rgba(243, 236, 235, 0.867);
    padding-top: 1rem;
    width: 100vw;

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        position: relative;
    }
}