#nav {
    display: flex;
    background: linear-gradient(to top, rgba(194, 13, 0, 0.867), rgb(255, 123, 0));
    grid-area: nav;
    flex-direction: column;
    align-items: center;

    img#logo {
        width: 40vw;
        height: 10vh;
        border-radius: 5rem;
    }

    input.toggle[type='checkbox'] {
        display: block;
        opacity: 0;
        cursor: pointer;
        width: 40px;
        height: 32px;
        transform-origin: 4px 0px;

        &:checked {
            ~span {
                opacity: 1;
                transform: rotate(-45deg) translate(0px, -5px);
                background: #232323;
                transition: all 0.3s;
            }

            ~span:first-of-type {
                transform: rotate(45deg) translate(0px, -3px);
                transform-origin: 0% 0%;
            }

            ~span:nth-last-child(2) {
                transform-origin: 28% 100%;
            }

            ~.nav-menu {
                max-height: 3vh;
                z-index: 1;
            }
        }
    }

    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;
    }
}

// .lbl-toggle {
//     font-weight: bold;
//     text-transform: uppercase;
//     padding: 1rem;
//     cursor: pointer;
//     margin: auto;
//     color: white;

//     &::before {
//         content: ' ';
//         display: inline-block;

//         border-top: 5px solid transparent;
//         border-bottom: 5px solid transparent;
//         border-left: 5px solid currentColor;

//         vertical-align: middle;
//         margin-right: .7rem;
//         transform: translateY(-2px);

//         /* credits https://css-tricks.com/snippets/css/css-triangle/ */
//     }
// }

.nav-menu {
    max-height: 0px;
    text-align: center;
    transition: max-height .15s ease;
    text-transform: uppercase;
    z-index: -1;
}

.menu-option {
    margin: auto;
    height: 4vh;
    background: rgba(194, 13, 0, 0.867);
    padding-top: 1rem;
    width: 100vw;

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        position: relative;
    }
}